.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/gradle
.idea/
Constellate.iml
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
constellate-app.iml
out/
app/src/main/gen/
